{% extends 'master.html' %}

{% block content %}
<body>
     <form action="tosave" method="GET">
           <div class="form-group">
                <label for="exampleFormControlInput1">Employee Number</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="empno">
                <label for="exampleFormControlInput1">Employee Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" name="empname">
                <label for="exampleFormControlInput1">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput3" name="password">
                <input type="submit" value="Submit"> &emsp; &emsp;<a href="home">List of Employees</a>
            </div>
      </form>
</body>
{% endblock %}